
body
{
    font-family: 'segoe ui light';
}
.color-mine
{
    color:#ff7d5f !important;
}


nav .logo
{
    width:70px ;
}
.navbar-brand{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}
.nav-link{
    cursor: pointer;
    font-weight: bold;
    transition: 2s;
 
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #ff7d5f;
}
.searchInput
{
    top: 85%;
}
.category
{
    background-image: url(../images/category-bg.png);
    background-size: cover;
    background-position: center center;
}

#recipesSearch
{
    background: #faf3f1 url(../images/1.png);
}
.recipe
{
    cursor: pointer;
}
.recipe img
{
    height: 200px !important;
}


#recipesSearch img{
    height: 200px;
}

.category{
    cursor: pointer;
}
.category:hover{
    color: red;
    transition: 2s;
}

.dropdown-menu{
    cursor: pointer;
}